<footer>
		<div class="container">
			<div class="eight columns">
				<h3>Contact information</h3>
				<p class="footer-text">
					13406 Misty Way,<br />
				  Fredericksburg, VA, 22407<br /><br />
				  Phone:<br>
				   +1 540-424-9535<br /><br />
				  E-mail: <a href="#">Wellspringlawnandlandscape@gmail.com</a></p>
			</div>
			<div class="eight columns">
				<div class="flickr clearfix">
					<h3>Social Media</h3>
					<a href="#">
						<img src="/assets/twitter.png" />
					</a>
					<a href="#">
						<img src="/assets/facebook.png" />
					</a>	
				</div>
			</div>
			<div class="sixteen columns">
				<hr class="line footer" />
			</div>
			<div class="eight columns">
				<div class="copyright">
					&copy; Copyright 2013
					<a href="index.html"></a>.
					
					
				</div>
			</div>
			
		</div>
	</footer>

	<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
		controlNav: true,
		animation: 'slide',
		pauseOnHover: true
	});
  });
</script>