<h1>About Wellspring Lawn & Landscape</h1>
<p>Wellspring Lawn and Landscape specializes in turf care and weekly maintenance of your home and garden. We are here to transform your lawn into the golf course quality turf you deserve, offering competitive pricing on mowing and applications of weedkillers and fertilizers for your turf. Our staff is smart, capable, and ready to serve.</p>
<%= image_tag("peter.jpg") %>
