<br></br>

<div class="home_paragraph">
<p>
Hello, and Welcome to Wellspring Lawn and Landscape. We are a Locally owned and operated company based in the Fredericksburg Area. We service The city of Fredericksburg, Counties of Spotsylvania, Stafford and King George, specializing in turf care maintenance and Landscape Design and Install. Please take some time to view some of our more recent projects and don’t hesitate to call or email with all of your Lawn and Landscaping Needs.  </p>
</div>
<div class="photo-align">
<%= image_tag("home_page_2.jpg") %>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40974006-1', 'wellspringlawn.com');
  ga('send', 'pageview');

</script>