<h1>Services</h1>

<div class="photo-align">


<p>Trimming of Hedges & Shrubs</p>
<%=image_tag("shrubs.jpg") %>

<br></br>
<br></br>
<p>Tree Pruning & Removal</p>
<%=image_tag("tree_work.jpg") %>

<br></br>
<br></br>

<p>Mulching</p>
<%=image_tag("mulching.jpg") %>


<br></br>
<br></br>

<p>Design & building of Retaining Walls</p>
<%=image_tag("walls.jpg") %>

</div>


 
 


