<div class="container main">
		<div id="slogan" class="clearfix">
			<div class="sixteen columns">
				<div class="slogan">
					<p>If you have <span class="color">any questions</span> <span class="light_gray">don't <br />hesitate</span> to use the form below!</p>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="sixteen columns">
				<hr class="line slogan" />
			</div>
		</div>
		
		<div id="page-content" class="full-width container">
		
			<div class="sixteen columns">
			
			<!-- Google Maps -->
			<div id="googlemaps" class="google-map google-map-full" style="height:300px"></div>

				
				<h3 class="gmap-header">Leave us a message</h3>
				
				<div id="contact-form">
					<form class="contact-form">
						<p><label for="name">Name (required)</label><input type="text" name="name" id="name"></p>
						<p><label for="email">Email (required)</label><input type="text" name="email" id="email"></p>
						<p style="margin-right:0;"><label for="website">Website (optional)</label><input type="text" name="website" id="website"></p>
						<p style="margin-right:0;"><label for="textarea">Message (required)</label><textarea rows="10" cols="55" name="message" id="textarea"></textarea></p>
						<p style="float:right; margin-right:0;"><input class="submit" type="submit" value="Send Mail"></p>
					</form>
				</div>

			</div>
			

		</div>
		
	</div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
    </script>

 <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(38.327347,-77.584454),
          zoom: 10,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googlemaps"),
            mapOptions);

        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Newbridges Care'
        });

        var center;
        function calculateCenter() {
         center = map.getCenter();
        }
         google.maps.event.addDomListener(map, 'idle', function() {
         calculateCenter();
        });
         google.maps.event.addDomListener(window, 'resize', function() {
         map.setCenter(center);
        });
       }
         </script>

