

@import "bootstrap";

/* mixins, variables, etc. */


$grayMediumLight: #eaeaea;
$tigerOrange: #e36b23;
$mutedWhite: #999999;
$darkGrayish: #2a333c;
$bluey:  #6489b9;

/* universal */

html {
  overflow-y: scroll;
}

body {
  
  padding-top: 60px;
  background-color: $darkGrayish;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


label {
  color:$tigerOrange;
}

 div.photo-align {
  text-align: center;

   }




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $tigerOrange;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1.2em;
  line-height: 1.7em;
  color: $mutedWhite;

}
div.notify_me {
  p {

  font-size: 1.2em;
  line-height: 1.7em;
  color: $tigerOrange;

}
  
}


/* header */




div.navbar-inner {
  


 }
#logo_please{
  margin-left: 410px;
  margin-top: 20px; 
  border-radius: 10px;



 
}

#logo-nav {

  position: static;
  color: $tigerOrange;
  &:hover {
  color: $mutedWhite;
  text-decoration: none;
}
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $tigerOrange;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $mutedWhite;
    text-decoration: none;
  }
}



/* footer */

footer { 
  vertical-align: bottom;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $tigerOrange;
  color: $grayLight;
  a {
    color: $tigerOrange;
    &:hover { 
      color: $mutedWhite;
      text-decoration: none;
    }
  }  

  div.footer-container{
    float: right;
    margin-right: 10px;
  }

  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
